@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.card {
    --card--padding: .5rem;
    --card__body--padding: .5rem;
    --card__body-before--background-color: white;
    --card__body-before--margin-right: .5rem;
    --card__body-before--margin-top: .25rem;
    --card__body-before--size: 2.5rem;
}

.card.card--red {
    --card__body-before--background-color: #fa8071;
}

.card.card--green {
    --card__body-before--background-color: #90ee90;
}

.card.card--blue {
    --card__body-before--background-color: #87cefa;
}

.card {
    padding: var(--card--padding);
}

.card__body {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    padding: var(--card__body--padding);
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    transition: all 0.2s linear;
}

.card__body::before {
    content: "";
    display: none;
    margin-right: var(--card__body-before--margin-right);
    border: 4px solid var(--card__body-before--background-color);
    border-top-color: transparent;
    border-radius: 50%;
    background-color: var(--card__body-before--background-color);
    height: var(--card__body-before--size);
    min-width: var(--card__body-before--size);
    width: var(--card__body-before--size);
    position: absolute;
    top: calc(50% - calc(var(--card__body-before--size) / 2));
    left: calc(50% - calc(var(--card__body-before--size) / 2));
}

.card__body::after {
    content: "";
    width: .125rem;
    min-width: .125rem;
    margin-right: .5rem;
    background-color: var(--card__body-before--background-color);
}

[data-state="loading"] .card__body {
    border-color: transparent;
    opacity: 0.5;
    box-shadow: inset 0 .125rem .25rem rgba(0, 0, 0, .075);
}

[data-state="loading"] .card__body::before {
    display: block;
    background-color: transparent;
    animation: spin .5s linear infinite;
}

[data-state=""] .card__body:hover {
    cursor: pointer;
}

.card__title {
    margin-bottom: .5rem;
    line-height: 1;
}

@media (min-width: 576px) {
    .card {
        --card__body-before--size: 30px;
        --card__body-before--margin-right: .75rem;
        --card__body--padding: .75rem;
    }

    .card__body::before {
        display: block;
        position: static;
    }

    .card__body::after {
        display: none;
    }

    .card__body {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .card {
        --card__body-before--margin-right: 1rem;
        --card__body--padding: 1rem;
    }
}

@media (min-width: 992px) {
    .card {
        --card__body-before--margin-right: 1rem;
        --card__body--padding: 1rem;
    }
}

@media (min-width: 1200px) {
    .card {
        --card__body-before--margin-right: 1rem;
        --card__body--padding: 2rem;
    }
}

@media (min-width: 1400px) {
    .card {
        --card__body-before--margin-right: 1rem;
    }
}